.cache
.history
.lib/

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.project
.settings
__debug_bin

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqbpro
